html {
    height: 100%;
}

body {
    height: 100%;
    /* margin: 0px 0px 0px 0px;*/
}

.menu-side {
    width:25%;
    height:100%;
    float: left;
    background-color: #151B8D;
    box-sizing:border-box;
    padding-top:60px;
    /*text-align: center;*/
}

.content-side {
    width:70%;
    height:100%;
    float: left;
    box-sizing:border-box;
    padding:5px;
    text-align: center;
    margin:auto;
}

.pic {
    display: block;
    margin:auto;
    border-radius: 75%;
    width: 50%;
}

.name {
    /*margin: auto;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;*/
}

.icons {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
i {
    text-align: center;
    font-size: 2.0vh;
}
h1 {
    text-align: center;
    font-size: 4.0vh;
    margin-top: 8%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.each-icon {
    font-size: 25px;
    color: #FBEEC1;
    margin-left:20%;
    cursor: pointer;
    outline:none;
}

.buttons {
    margin:auto;
    width: 50%;
    display: block;
    margin-top: 40px;
    height: 50%;
}

button {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    background-color: #151B8D;
    color: white;
    border: 1px solid #151B8D;
    font-size:100%;
    padding-left: 0px;
}

button:hover {
  background-color: #151B8D;
  border: 1px solid #858490;
  color: white;
}

.about-me {
    margin:auto;
    width: 90%;
    height: 30%;
    padding:30px;
    border-bottom: 1px solid blue;
    box-sizing: border-box;
    overflow-y: auto;
}

.about-me-paragraph {
    text-align: left;
}

.skills-section, .project-section, .work-section  {
    display: none;
    margin:auto;
    width: 90%;
    height: 60%;
    border: 1px solid blue;
    box-sizing: border-box;
    margin-top: 2%;
    overflow-y: scroll;
    padding: 2%;
}


.skill-name {
    float:left;
    display: inline-block;
}

.container {
    float: left;
    box-sizing: border-box;
    text-align: right;
    color: white;
    background-color: #d4d4d4;
    width: 100%;
}

.beg {width: 30%; background-color: #2196F3;}
.inter {width: 65%; background-color: #f44336;}
.adv {width: 90%; background-color: #808080;}

.each-project {
    box-sizing: border-box;
    border: 1px solid green;
    width:100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #005aff6e;
  border-radius: 10px;
}

.ex1 {
    border: 2px solid black;
    padding: 25px;
    background: url(../../img/bk.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ex2 {
    background: url(static/img/bk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ex3 {
    margin: 0;
    padding: 0;
    background: url(static/img/bk.jpg) no-repeat;
    background-color: #921F21;
    background-size: cover;
}

.ex4 {
    background-color: lightblue;
    height:100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: DodgerBlue;
    height: 500px;
}
